@model Bloggie.Web.Models.ViewModels.ForgotPasswordModel

@{
    ViewData["Title"] = "ForgotPassword";
}

<div class="container mx-auto">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">

            <h1 class="mt-3 mb-3 h3">
                Forgot Password
            </h1>
<hr />

        @if (Model?.EmailSent == true)
        {
            <div class="alert alert-success" role="alert">
                <p>If you are registered with us</p>
                <p>We have sent an email on your registered email id.</p>
            </div>
        }
        else
        {
            <p>Forgot your password?</p>
            <form asp-action="ForgotPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
               <br>
                    <div class="form-group mb-3">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        }
 
    


<div>
    <a asp-action="Login" asp-controller="Account">Login</a>
</div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
