@model Bloggie.Web.Models.ViewModels.ForgotPasswordModel

@{
    ViewData["Title"] = "ForgotPassword";
}

<h1>ForgotPassword</h1>

<h4>ForgotPasswordModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (Model?.EmailSent == true)
        {
            <div class="alert alert-success" role="alert">
                <p>If you are registered with us</p>
                <p>We have sent an email on your registered email id.</p>
            </div>
        }
        else
        {
            <p>Forgot your password?</p>
            <form asp-action="ForgotPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="EmailSent" /> @Html.DisplayNameFor(model => model.EmailSent)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        }
 
    </div>
</div>

<div>
    <a asp-action="Login" asp-controller="Account">Login</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
